<% include ./html-header.ejs %>
<body>
    <% include ./nav-bar.ejs %> 
    <header>
        <h1>Mariner Login for Youtube</h1>
        <!-- <h2>Homepage</h2> -->
    </header>
    <main>
        <p>Authorize your youtube account</p>
    </main>
</body>

</html>