<% include ./html-header.ejs %>

<body>
  <% include ./nav-bar.ejs %>
    <main>
      <a href="/auth/google"><img src="/images/google.ico" /></a>
      <a href="/auth/youtube"><img src="/images/youtube.png" /></a>
    </main>
</body>

</html>